---
import Header from "./common/Header.astro";
import Footer from "./common/Footer.astro";
import Articles from "./common/Articles.astro";
---

<div id="container" class="p-5 md:p-10">
  <Header />
  <Articles />
  <Footer />
</div>
