---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import Header from './ Header.astro';
import Footer from './Footer.astro';
---

<div id="container">
	<Header />
	<Footer />
</div>

